<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <span class="text-center"><h3>New Employee</h3></span>
        <form ng-submit="vm.save()">
            <table class="table table-condensed table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class="bg-primary">Name</th>
                        <td>
                            <input type="text" ng-model="vm.items.name" />
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-primary">Department</th>
                        <td>
                            <input type="text" ng-model="vm.items.department" />
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-primary">ContactNo</th>
                        <td>
                            <input type="text" ng-model="vm.items.contactNo" />
                        </td>
                    </tr>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" class="btn btn-success addnew " value="Save" />
            </div>
        </form>
        <hr />
    </div>
    <div class="col-md-6 col-md-offset-2">
        <table class="table table-responsive table-bordered table-striped">
            <tr ng-if="$index < 1" ng-repeat="item in vm.personnels">
                <th class="bg-primary" ng-repeat="(key,value) in item">{{key}}</th>
            </tr>
            <tr dir-paginate="user in vm.personnels |itemsPerPage: 5 track by $index">
                <td>
                    <!-- editable username (text with validation) -->
                    <span editable-text="user.id" e-name="id" e-form="rowform">
          {{ user.id || 'empty' }}
        </span>
                </td>
                <td>
                    <!-- editable status (select-local) -->
                    <span editable-text="user.name" e-name="name" e-form="rowform">
          {{ user.name }}
        </span>
                </td>
                <td>
                    <span editable-text="user.department" e-name="department" e-form="rowform">
          {{ user.department }}
        </span>
                </td>
                <td>
                    <span editable-text="user.contactNo" e-name="contactNo" e-form="rowform">
          {{ user.contactNo }}
        </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="vm.update($data)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == user">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button type="button" class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button type="button" class="btn btn-danger" ng-click="removeUser($index)">del</button>
                    </div>
                </td>
            </tr>
        </table>
        <dir-pagination-controls class="panel-pagination"></dir-pagination-controls>
    </div>
</div>
