<div class="row">
    <div class="col-md-12">
        <span class="text-center"><h3>New Heat Detail</h3></span>
        <form name="heatdf" ng-submit="vm.save()">
            <table class="table table-responsive table-bordered table-striped">
                <tbody>
                    <tr>
                        <th class="bg-success">HeatId</th>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heatName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.heats">
                                        <a href ng-click="vm.selectHeat(choice)">{{choice.heatId}} - {{choice.sinteringHeatId}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <th class="bg-success">delay</th>
                        <td>
                            <input name="delay" type="number" step="any" ng-model="vm.heat.delay" class="form-control" ng-required=" vm.heat.timeTaken > 150 && vm.heat.heatType!='Sinter'" />
                            <span class="text-danger" ng-show="heatdf.delay.$invalid">Invalid Value</span>
                        </td>
                        <th  class="bg-success">Carbon</th>
                        <td>
                            <input name="carbon" type="number" step="any" ng-model="vm.heatmix.carbon" step="any" min=0 max=1 class="form-control" />
                            <span class="text-danger" ng-show="heatdf.carbon.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">furnaceOn</th>
                        <td>
                            <div uib-timepicker ng-change="vm.furnaceOnChanged()" ng-model="vm.furnaceOn" show-meridian="false" show-spinners="false"> </div>
                        </td>
                        <th class="bg-success">Tapping Temperature</th>
                        <td>
                            <input name="ttemp" type="number" step="any" ng-model="vm.heat.tappingTemp" step="any" min=1200 max=2000 class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.ttemp.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Manganese</th>
                        <td>
                            <input name="mn" type="number" step="any" step="any" min=0 max=1 ng-model="vm.heatmix.manganese" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.mn.$invalid">Invalid Time</span>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <th class="bg-success">furnaceOff</th>
                        <td>
                            <div name="fOff" uib-timepicker ng-change="vm.furnaceOffChanged()" ng-model="vm.furnaceOff" min="vm.furnaceOn" show-spinners="false" show-meridian="false"></div>
                            <span class="text-danger" ng-show="heatdf.fOff.$invalid">Invalid Time</span>
                        </td>
                        <th class="bg-success">Tapping Time</th>
                        <td>
                            <input name="ttime" type="number" step="any" step="any" min=0 max=100 ng-model="vm.heat.tappingTime" class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.ttime.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Silicon</th>
                        <td>
                            <input name="silicon" type="number" step="any" step="any" min=0 max=1 ng-model="vm.heatmix.silicon" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.silicon.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">heat Type</th>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heat.heatType}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li>
                                        <a href ng-click="vm.selectHeatType('Melt')">Melt</a>
                                    </li>
                                    <li>
                                        <a href ng-click="vm.selectHeatType('Sinter')">Sinter</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <th class="bg-success">Maximum Demand</th>
                        <td>
                            <input type="number" step="any" ng-model="vm.heat.maximumOperatingPower" class="form-control" ng-required="true">
                        </td>
                        <th class="bg-success">Sulphur</th>
                        <td>
                            <input name="sulphur" type="number" step="any" step="any" min=0 max=1  ng-model="vm.heatmix.sulphur" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.sulphur.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">Slag</th>
                        <td>
                            <input name="slag" type="number" step="any" ng-model="vm.heat.slag" step="any" min=0 max=5 class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.slag.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Unit Per Ton</th>
                        <td>
                            <input type="number" name="upt" step="any" ng-model="vm.heat.unitPerTon" step="any" min=400 max=2000 class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.upt.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Phosphorus</th>
                        <td>
                            <input name="phos" type="number" step="any" step="any" min=0 max=1 ng-model="vm.heatmix.phosphorous" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.phos.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">Production </th>
                        <td>
                            <input name="prod" type="number" step="any" ng-model="vm.heat.production" step="any" min=0 max=40 class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.prod.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Units Consumed</th>
                        <td>
                            <input type="number" step="any" step="any" ng-model="vm.heat.unitConsumed" class="form-control" ng-required="true">
                        </td>
                        <th class="bg-success">Silico Manganese</th>
                        <td>
                            <input name="simn" type="number" step="any" step="any" min=0 max=1 ng-model="vm.heatmix.silicoManganese" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.simn.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">TimeTaken </th>
                        <td>
                            <input class="ttaken" type="number" step="any" step="any" min=0 max=1000 ng-model="vm.heat.timeTaken" class="form-control" ng-required="true" />
                            <span class="text-danger" ng-show="heatdf.ttaken.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Power Factor</th>
                        <td>
                            <input name="pf" type="number" step="any" step="any" min=0 max=1 ng-model="vm.heat.powerFactor" class="form-control" ng-required="true">
                            <span class="text-danger" ng-show="heatdf.pf.$invalid">Invalid Value</span>
                        </td>
                        <th class="bg-success">Ferro Manganese</th>
                        <td>
                            <input name="femn" ttype="number" step="any" step="any" min=0 max=1 ng-model="vm.heatmix.ferroManganese" class="form-control" />
                            <span class="text-danger" ng-show="heatdf.femn.$invalid">Invalid Value</span>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-success">Issue Id </th>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.issueName}} <span class="caret" ng-required="true"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.issues">
                                        <a href ng-click="vm.selectIssue(choice)"> {{choice.dimDate.date}} - {{choice.issueDescription}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <th class="bg-success">Aluminium </th>
                            <td>
                                <input name="aluminium" type="number" step="any" min=0 max=1 ng-model="vm.heatmix.aluminium" class="form-control" />
                                <span class="text-danger" ng-show="heatdf.aluminium.$invalid">Invalid Value</span>
                            </td>
                        <th class="bg-success">Silico Manganese Utilization </th>
                            <td>
                                <input name="siMnUtilization" type="number" step="any" min=0 max=400 ng-model="vm.heat.siMnUtilization" class="form-control" />
                                <span class="text-danger" ng-show="heatdf.siMnUtilization.$invalid">Invalid Value</span>
                            </td>
                    </tr>
                </tbody>
            </table>
            <!--table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="bg-primary">Heat Id</th>
                        <th class="bg-primary">RawMaterial</th>
                        <th class="bg-primary">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.rawmix">
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heatName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.heats">
                                        <a href ng-click="vm.selectHeat(choice)">{{choice.heatId}} - {{choice.sinteringHeatId}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{item.scrapName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.scrapTypes">
                                        <a href ng-click="vm.selectItem(choice.Id)">{{choice.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.quantity" />
                        </td>
                        <td>
                            <input type="button" ng-click="vm.addNew()" class="btn btn-success addnew pull-right" value="addNew">
                        </td>
                    </tr>
                </tbody>
            </table-->
            <div class="form-group">
                <input type="submit" class="btn btn-warning addnew " value="Save" />
            </div>
        </form>
    </div>
</div>
<div> {{vm.error}} {{vm.status}}</div>
