<div class="row">
    <div class="col-md-12">
        <span class="text-center"><h3>New Heat Detail</h3></span>
        <form ng-submit="vm.save()">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="bg-success">HeatId</th>
                        <th class="bg-success">furnaceOn</th>
                        <th class="bg-success">furnaceOff</th>
                        <th class="bg-success">heat Type</th>
                        <th class="bg-success">Slag</th>
                        <th class="bg-success">Production </th>
                        <th class="bg-success">TimeTaken </th>
                        <th class="bg-success">delay</th>
                        <th class="bg-success">Tapping Temperature</th>
                        <th class="bg-success">Tapping Time</th>
                        <th class="bg-success">Maximum Demand</th>
                        <th class="bg-success">Unit Per Ton</th>
                        <th class="bg-success">Units Consumed</th>
                        <th class="bg-success">Power Factor</th>
                        <th class="bg-success">Issue Id </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heatName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.heats">
                                        <a href ng-click="vm.selectHeat(choice)">{{choice.heatId}} - {{choice.sinteringHeatId}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="vm.heat.furnaceOn" show-meridian="false" show-spinners="false"> </div>
                        </td>
                        <td>
                            <div uib-timepicker ng-model="vm.heat.furnaceOff" show-spinners="false" show-meridian="false"></div>
                        </td>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heat.heatType}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li>
                                        <a href ng-click="vm.selectHeatType('Melt')">Melt</a>
                                    </li>
                                    <li>
                                        <a href ng-click="vm.selectHeatType('Sinter')">Sinter</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.slag" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.production" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.timeTaken" class="form-control" ng-required="true" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.delay" class="form-control" ng-required=" vm.heat.timeTaken > 150 " />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.tappingTemp" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.tappingTime" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.maximumOperatingPower" class="form-control"  ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.unitPerTon" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.unitConsumed" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heat.powerFactor" class="form-control" ng-required="true">
                        </td>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.issueName}} <span class="caret" ng-required="true"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.issues">
                                        <a href ng-click="vm.selectIssue(choice)"> {{choice.dimDate.date}} - {{choice.issueDescription}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table ttable-responsive  table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="bg-primary">Heat Id</th>
                        <th class="bg-primary">Carbon</th>
                        <th class="bg-primary">Manganese</th>
                        <th class="bg-primary">Silicon</th>
                        <th class="bg-primary">Sulphur</th>
                        <th class="bg-primary">Phosphorus</th>
                        <th class="bg-primary">Silico Manganese</th>
                        <th class="bg-primary">Ferro Manganese</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heatName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.heats">
                                        <a href ng-click="vm.selectHeat(choice)">{{choice.heatId}} - {{choice.sinteringHeatId}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.carbon" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.manganese" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.silicon" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.sulphur" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.phosphorous" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.silicoManganese" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.heatmix.ferroManganese" />
                        </td </tr>
                </tbody>
            </table>
            <!--table class="table table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                        <th class="bg-primary">Heat Id</th>
                        <th class="bg-primary">RawMaterial</th>
                        <th class="bg-primary">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.rawmix">
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{vm.heatName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.heats">
                                        <a href ng-click="vm.selectHeat(choice)">{{choice.heatId}} - {{choice.sinteringHeatId}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" uib-dropdown keyboard-nav>
                                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                                    {{item.scrapName}} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                                    <li ng-repeat="choice in vm.scrapTypes">
                                        <a href ng-click="vm.selectItem(choice.Id)">{{choice.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="vm.quantity" />
                        </td>
                        <td>
                            <input type="button" ng-click="vm.addNew()" class="btn btn-success addnew pull-right" value="addNew">
                        </td>
                    </tr>
                </tbody>
            </table-->
            <div class="form-group">
                <input type="submit" class="btn btn-warning addnew " value="Save" />
            </div>
        </form>
    </div>
</div>
<div> {{vm.error}}</div>
