<div class="row">
    <div class="col-md-6">
         <span class="text-center"><h3>New Heat</h3></span>
        <form ng-submit="vm.save()">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="btn-warning">HeatId</th>
                        <th class="btn-warning">furnaceId</th>
                        <th class="btn-warning">SinteringHeatId</th>
                        <th class="btn-warning">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" ng-model="vm.items.heatId" class="form-control" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.items.furnaceId" class="form-control" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.items.sinteringHeatId" class="form-control" />
                        </td>
                        <td>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.items.date" is-open="vm.dateOpened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" /> <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" class="btn btn-primary addnew " value="Save" />
            </div>
        </form>
        <hr />
    </div>
    <div class="col-md-6 ">
        <span class="text-center"><h3>Update Heat</h3></span>
        <form ng-submit="vm.update()">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="btn-warning">HeatId</th>
                        <th class="btn-warning">furnaceId</th>
                        <th class="btn-warning">SinteringHeatId</th>
                        <th class="btn-warning">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" ng-model="vm.items.heatId" class="form-control" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.items.furnaceId" class="form-control" />
                        </td>
                        <td>
                            <input type="text" ng-model="vm.items.sinteringHeatId" class="form-control" />
                        </td>
                        <td>
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.issueUpdate.date" is-open="vm.date.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="vm.altInputFormats" /> <span class="input-group-btn">
                                <button type="button" class="btn btn-default"
                                    ng-click="vm.open1()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{vm.updateResult}}
            <div class="form-group">
                <input type="submit" class="btn btn-primary addnew " value="Update" />
            </div>
        </form>
    </div>
</div>
<br>
<br>
<div class="row">
    <span class="text-center"><h3>Heat List</h3></span>
    <div class="col-md-12">
        <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped">
            <tr ng-repeat="item in $data">
                <td data-title="'date'" header-class="'bg-primary'" sortable="'name'">
                    {{item.dimDate.date}}</td>
                <td data-title="'Id'" header-class="'bg-primary'" sortable="'id'">
                    {{item.id}}</td>
                <td data-title="'heatId'" header-class="'bg-primary'" sortable="'name'">
                    {{item.heatId}}</td>
                <td data-title="'FurnaceId'" header-class="'bg-primary'" sortable="'name'">
                    {{item.furnaceId}}</td>
                <td data-title="'Sintering Heat Id'" header-class="'bg-primary'" sortable="'name'">
                    {{item.sinteringHeatId}}</td>
              
            </tr>
        </table>
    </div>
</div>
